* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.main {
  width: 860px;
  height: auto;
}
/* first section start here */
.container1 {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #d9d9d9;
}
/* box1 start here */

.box1 {
  position: absolute;
  top: 30%;
  left: 13%;
  width: 29%;
  height: 60%;
  background-color: #fd633f;
  border-radius: 20px;
  font-family: Montserrat, sans-serif !important;
}
.box1 > p {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 4rem;
}
.box1 > button {
  margin-left: 7rem;
  border-radius: 2rem;
  width: 10rem;
  height: 3rem;
  background-color: #fff;
  border: none;
  font-size: 1.1rem;
  font-family: tahoma;
  color: #fd633f;
  cursor: pointer;
}
.box1 > button:hover {
  background-color: #d9d9d9;
}
/* box1 end here */
/* box2 start here */

.box2 {
  position: absolute;
  top: 30%;
  left: 43.5%;
  width: 17%;
  height: 29%;
  background-color: white;
  border-radius: 20px;
}
.image1 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* box2 end here */
/* box3 start here */
.box3 {
  position: absolute;
  top: 61%;
  left: 43.5%;
  width: 17%;
  height: 29%;
  background-color: white;
  border-radius: 20px;
}
.box3 > h3 {
  margin-top: 20%;
  margin-left: 10%;
}
.box3 > p {
  margin-top: 5%;
  margin-left: 10%;
  text-align: start;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Montserrat, sans-serif !important;
}
.box3 > a > b {
  padding: 0.1rem;
  margin-left: 2rem;
  color: #000;
  font-size: 0.9rem;
  font-family: Montserrat, sans-serif !important;
  letter-spacing: 0.1rem;
  border-bottom: solid 1px black;
}
.box3 > a {
  text-decoration: none;
}
.box3 > a > b:hover {
  color: #1a0dab;
  border-color: #1a0dab;
}
/* box3 end  here */
/* box4 start here */
.box4 {
  position: absolute;
  top: 30%;
  left: 62.5%;
  width: 15%;
  height: 29%;
  font-size: 2rem;
  border-radius: 20px;
}
.box4 > h3 {
  margin-top: 20%;
  margin-left: 10%;
}
.box4 > p {
  margin-top: 5%;
  margin-left: 10%;
  text-align: start;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Montserrat, sans-serif !important;
}
.box4 > a > b {
  padding: 0.1rem;
  margin-left: 2rem;
  color: #000;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  border-bottom: solid 1px black;
  font-family: Montserrat, sans-serif !important;
}
.box4 > a {
  text-decoration: none;
}
.box4 > a > b:hover {
  color: #1a0dab;
  border-color: #1a0dab;
}
/* box4 end here */
/* box5 start here */
.box5 {
  position: absolute;
  top: 61%;
  left: 62.5%;
  width: 15%;
  height: 29%;
  font-size: 2rem;
  border-radius: 20px;
}
/* box5 end here */
/* first section end here */
/* 2nd section start here  */
.container2 {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #292d33;
}
.container2 > h3 {
  position: absolute;
  top: 5rem;
  left: 23rem;
  color: white;
  font-size: 2rem;
  font-family: Montserrat, sans-serif !important;
}

.container2 > p {
  position: absolute;
  top: 7.5rem;
  left: 38rem;
  color: gray;
  font-size: 1rem;
  font-family: Montserrat, sans-serif !important;
}
.box1-2 {
  border-radius: 2rem;
  text-align: center;
  font-size: 1.4rem;
  top: 27%;
  position: absolute;
  width: 22%;
  height: 30%;
  background-color: #fd633f;
  color: #fff;
  left: 37%;
}
.box1-2 > p {
  padding: 1rem 2rem;
  font-family: sans-serif;
  line-height: 1.5rem;
}
.box1-2 > h3 {
  margin-top: 1.1rem;
  font-size: 2rem;
  font-family: cursive;
}
.box1-1 {
  border-radius: 2rem;
  text-align: center;
  font-size: 1.4rem;
  top: 27%;
  position: absolute;
  width: 22%;
  height: 30%;
  background-color: #d9d9d9;
  color: #000;
  left: 14%;
}
.box1-1 > p {
  padding: 1rem 2rem;
  font-family: sans-serif;
  line-height: 1.5rem;
}
.box1-1 > h3 {
  margin-top: 1.1rem;
  font-size: 2rem;
  font-family: cursive;
}
.box1-3 {
  border-radius: 2rem;
  text-align: center;
  font-size: 1.4rem;
  top: 27%;
  position: absolute;
  width: 22%;
  height: 30%;
  background-color: #d9d9d9;
  color: #000;
  left: 60%;
}
.box1-3 > p {
  padding: 1rem 2rem;
  font-family: sans-serif;
  line-height: 1.5rem;
}
.box1-3 > h3 {
  margin-top: 1.1rem;
  font-size: 2rem;
  font-family: cursive;
}
/* 2nd section end here */
/* 3rd section start here  */
.container3 {
  width: 100%;
  height: 450px;
  background-color: #d9d9d9;
}
.parent-box {
  position: relative;
  width: 100%;
  height: 340px;
  background-color: #f6f4f4;
}
.box2-1 {
  position: absolute;
  top: -17%;
  left: 17%;
  width: 24%;
  height: 32%;
  background-color: #fd633f;
  color: #fff;
  border-radius: 2rem;
  text-align: center;
}
.box2-1 > h1 {
  margin-top: 5rem;
  font-size: 3.5rem;
  font-family: sans-serif;
}
.box2-1 > p {
  letter-spacing: 0.3rem;
  position: absolute;
  top: 29%;
  left: 10%;
  font-size: 1rem;
  font-family: sans-serif;
}
.box2-2 {
  position: absolute;
  top: -29%;
  left: 43%;
  width: 39%;
  height: 111%;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.box2-2 > img {
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 110%;
  height: 100%;
  background-color: #d9d9d9;
  color: #fff;
  border-radius: 2rem;
  text-align: center;
}
.box2-3 {
  position: absolute;
  top: 18%;
  left: 17%;
  width: 20%;
  height: 44%;
  text-align: left;
  font-size: 2.8rem;
  line-height: 1.5rem;
  font-family: sans-serif;
}
.box2-3 > button {
  position: absolute;
  top: 60%;
  width: 10rem;
  height: 3.5rem;
  font-size: 1rem;
  background-color: #fd633f;
  border: none;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
}
.box2-3 > button:hover {
  background-color: #f4937d;
}
/* 3rd section end here  */
/* 4th section start here   */
.container4 {
  position: relative;
  width: 100%;
  height: 900px;
  background-color: #fff;
}
.box3-1 {
  position: absolute;
  width: 23%;
  height: 20rem;
  background-color: #fd633f;
  font-size: 3rem;
  font-family: rubik;
  text-align: center;
  top: -5rem;
  left: 15%;
  color: #fff;
}
.box3-1 > p {
  margin: 35% 5% 0% 5%;
}
.box3-2 {
  position: absolute;
  top: -5rem;
  left: 38%;
  width: 23%;
  height: 20rem;
  background-color: #fff;
}
.box3-2 > p {
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 8%;
  line-height: 1.3rem;
}
.box3-2 > h1 {
  margin: 25% 0% 0% 10%;
  font-size: 1.5rem;
  font-family: rubik;
}
.box3-3 {
  position: absolute;
  top: -5rem;
  left: 61%;
  width: 23%;
  height: 20rem;
  background-color: #fff;
}
.box3-3 > p {
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 8%;
  line-height: 1.3rem;
}
.box3-3 > h1 {
  margin: 25% 0% 0% 10%;
  font-size: 1.5rem;
  font-family: rubik;
}
.box3-4 {
  position: absolute;
  top: 21rem;
  left: 26%;
  width: 45%;
  height: 15rem;
  background-color: #fff;
}
.box3-4 > h1 {
  font-size: 3rem;
  font-family: rubik;
  color: #fd633f;
  text-align: center;
}
.box3-4 > p {
  margin-top: 1rem;
  line-height: 2.2rem;
  font-size: 1.5rem;
  font-family: tahoma;
  text-align: center;
}
.image-4 {
  position: absolute;
  top: 41%;
  left: 15%;
  width: 70%;
  height: 41rem;
  border-radius: 2rem;
}
.box3-5 {
  position: absolute;
  top: 79%;
  left: 18%;
  width: 15%;
  height: 12rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: gray 2px 2px 10px 2px;
}
.box3-5 > p {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  margin: 25% 0% 0% 18%;
}
.box3-5 > h1 {
  font-size: 3.6rem;
  font-family: Montserrat, sans-serif !important;
  color: #fd633f;
  margin: 10% 0% 0% 32%;
}

.box3-6 {
  position: absolute;
  top: 79%;
  left: 35%;
  width: 15%;
  height: 12rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: gray 2px 2px 10px 2px;
}
.box3-6 > p {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  margin: 25% 0% 0% 25%;
}
.box3-6 > h1 {
  font-size: 3.6rem;
  font-family: Montserrat, sans-serif !important;
  color: #fd633f;
  margin: 10% 0% 0% 30%;
}

.box3-7 {
  position: absolute;
  top: 79%;
  left: 52%;
  width: 15%;
  height: 12rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: gray 2px 2px 10px 2px;
}
.box3-7 > p {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  margin: 25% 0% 0% 30%;
}
.box3-7 > h1 {
  font-size: 3.6rem;
  font-family: Montserrat, sans-serif !important;
  color: #fd633f;
  margin: 10% 0% 0% 29%;
}

.box3-8 {
  position: absolute;
  top: 79%;
  left: 69%;
  width: 15%;
  height: 12rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: gray 2px 2px 10px 2px;
}
.box3-8 > p {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  margin: 25% 0% 0% 27%;
}
.box3-8 > h1 {
  font-size: 3.6rem;
  font-family: Montserrat, sans-serif !important;
  color: #fd633f;
  margin: 10% 0% 0% 29%;
}
