* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: tahoma;
  font-size: 62.5%;
}
.container {
  top: 38px;
  position: relative;
  margin: auto;
  display: flex;
  width: 550px;
  height: 500px;
  border: solid 1px #000;
}
.icon {
  position: absolute;
  top: 6%;
  left: 6%;
  width: 15%;
  height: 8%;
  cursor: pointer;
}
.text1 {
  position: absolute;
  top: 17%;
  left: 6%;
  font-size: 2rem;
}
.text2 {
  position: absolute;
  top: 24%;
  left: 6%;
  font-size: 1.2rem;
}
/* input1 starts here  */

.input1-div {
  height: 5%;
  position: relative;
  top: 32%;
  left: 6%;
  width: 40%;
  border-radius: 3px;
  box-shadow: gray 0px 0pc 2px 0px;
}
.input1 {
  height: 100%;

  position: absolute;
  width: 100%;
  font-size: 0.8rem;
  border: none;
  border-radius: 3px;
  box-shadow: gray 0px 0pc 2px 0px;
}
.First-name {
  margin: 2px;
  position: absolute;
  top: 3px;
  left: 2px;
  font-size: 1rem;
  pointer-events: none;
  transition: top 300ms ease-in-out;
}
.input1:focus ~ .First-name,
.input1:valid ~ .First-name {
  top: -7px;
  background-color: #fff;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: #1b4fe6;
  font-size: 0.8rem;
}
.input1:focus {
  border: solid 3px #1b4fe6;
}

/* input1 ends here  */
/* input2 start here  */
.input2-div {
  position: relative;
  top: 32%;
  left: 7%;
  height: 5%;
  width: 40%;
}
.input2 {
  height: 100%;
  position: absolute;
  width: 100%;
  font-size: 0.8rem;
  padding: 3px;
  border: rgb(202, 198, 198) solid 0.1px;
  border-radius: 3px;
  box-shadow: gray 0px 0pc 2px 0px;
}
.Last-name {
  margin: 2px;
  position: absolute;
  top: 3px;
  left: 2px;
  font-size: 1rem;
  pointer-events: none;
  transition: top 300ms ease-in-out;
}
.input2:focus ~ .Last-name,
.input2:valid ~ .Last-name {
  top: -7px;
  background-color: #fff;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: #1b4fe6;
  font-size: 0.8rem;
}
.input2:focus {
  border: solid 3px #1b4fe6;
}
/* input2 ends here  */
/* input3 start here  */
.input3-div {
  position: relative;
  top: 42%;
  left: -47%;
  width: 7%;
  height: 5%;
}
.input3 {
  height: 100%;
  position: absolute;
  width: 1171%;
  font-size: 0.8rem;
  padding: 3px;
  border: rgb(202, 198, 198) solid 0.1px;
  border-radius: 3px;
  box-shadow: grey 0px 0pc 2px 0px;
}
.Username {
  margin: 2px;
  position: absolute;
  top: 3px;
  left: 2px;
  font-size: 1rem;
  pointer-events: none;
  transition: top 300ms ease-in-out;
}
.input3:focus ~ .Username,
.input3:valid ~ .Username {
  top: -7px;
  background-color: #fff;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: #1b4fe6;
  font-size: 0.8rem;
}
.input3:focus {
  border: solid 3px #1b4fe6;
}
/* input3 ends here  */
/* input4 start here   */
.input4-div {
  position: relative;
  height: 5%;
  width: 42%;
  top: 52%;
  left: -63%;
}
.input4 {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  width: 95%;
  font-size: 1.2rem;
  border: rgb(202, 198, 198) solid 0.1px;
  border-radius: 3px;
  box-shadow: grey 0px 0pc 2px 0px;
}
.password {
  margin: 2px;
  position: absolute;
  top: 3px;
  left: 2px;
  font-size: 1rem;
  pointer-events: none;
  transition: top 300ms ease-in-out;
}
.input4:focus ~ .password,
.input4:valid ~ .password {
  top: -7px;
  background-color: #fff;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: #1b4fe6;
  font-size: 0.8rem;
}
.input4:focus {
  border: solid 3px #1b4fe6;
}
/* input4 end here   */
/* input5 start here   */
.input5-div {
  position: relative;
  height: 5%;
  width: 5%;
  top: 49%;
  left: -64.5%;
}
.input5 {
  height: 100%;
  position: absolute;
  top: 55%;
  left: 31%;
  width: 727%;
  font-size: 1.2rem;
  padding: 3px;
  border: rgb(202, 198, 198) solid 0.1px;
  border-radius: 3px;
  box-shadow: grey 0px 0pc 2px 0px;
}
.confirm {
  margin: 2px;
  position: absolute;
  top: 17px;
  left: 9px;
  font-size: 1rem;
  pointer-events: none;
  transition: top 300ms ease-in-out;
}
.input5:focus ~ .confirm,
.input5:valid ~ .confirm {
  top: 7px;
  background-color: #fff;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: #1b4fe6;
  font-size: 0.8rem;
}
.input5:focus {
  border: solid 3px #1b4fe6;
}
/* input5 end here   */

#input3 {
  left: -11%;
  position: relative;
  top: 42.5%;
  font-size: 1.2rem;
  cursor: default;
}

.text3 {
  position: absolute;
  top: 47%;
  left: 7%;
  font-size: 1.1rem;
  cursor: default;
}

#input4 {
  position: absolute;
  top: 61%;
  left: 6%;
  font-size: 0.9rem;
  cursor: default;
}
.input6 {
  position: absolute;
  top: 65%;
  left: 6%;
  width: 17px;
  height: 17px;
}
label {
  position: absolute;
  top: 65%;
  left: 12%;
  font-size: 1.3rem;
}
.link {
  text-decoration: none;
  position: absolute;
  top: 77%;
  left: 6%;
  font-size: 1.3rem;
  color: #1b4fe6;
}
button {
  position: absolute;
  top: 77%;
  left: 46%;
  width: 55px;
  height: 25px;
  font-size: 1.2rem;
  background-color: #1b4fe6;
  color: #fff;
  border: none;
  border-radius: 2px;
}
.image2 {
  position: absolute;
  top: 25%;
  left: 55%;
  width: 46%;
  height: 34%;
}
.text4 {
  cursor: default;
  position: absolute;
  top: 59%;
  left: 68%;
  font-size: 1.1rem;
}
@media screen and (min-width: 1000px) {
  .container {
    top: 38px;
    position: relative;
    margin: auto;
    display: flex;
    width: 550px;
    height: 500px;
    border: solid 1px #000;
  }
  .icon {
    position: absolute;
    top: 6%;
    left: 6%;
    width: 15%;
    height: 8%;
    cursor: pointer;
  }
}
@media screen and (min-width: 450) {
  .container {
    top: 38px;
    position: relative;
    margin: auto;
    display: flex;
    width: 550px;
    height: 500px;
    border: solid 1px #000;
  }
  .icon {
    position: absolute;
    top: 6%;
    left: 6%;
    width: 15%;
    height: 8%;
    cursor: pointer;
  }
  .image2 {
    display: none;
  }
}
