* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.solar-system {
  width: 700px;
  height: 700px;
  background-size: cover;
  margin: auto;
  position: relative;
}
.background {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  /* opacity: 0.9; */
  border-image-repeat: no-repeat;
}
.sun > img {
  position: absolute;
  width: 114px;
  height: 68px;
  left: 300px;
  top: 308px;
}
.mercury-orbet {
  position: absolute;
  left: 280px;
  top: 270px;
  width: 150px;
  height: 150px;
  border: dashed 0.1px gray;
  border-radius: 50%;
  animation: mercury 3s linear 0s infinite reverse;
}

@keyframes mercury {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mercury {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 10px;
  top: 0%;
  left: 0;
  animation: mercury-move 2s linear 0s infinite reverse;
}
@keyframes mercury-move {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.venus-orbet {
  position: absolute;
  left: 249px;
  top: 238px;
  width: 210px;
  height: 210px;
  border: dashed 0.1px gray;
  border-radius: 50%;
  animation: venus 7s linear 0s infinite;
}

@keyframes venus {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.venus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 16px;

  position: absolute;
  top: 0%;
  left: 0;
  animation: venus-move 2s linear 0s infinite reverse;
}
@keyframes venus-move {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.earth-orbet {
  border: dashed 1px gray;
  width: 270px;
  height: 270px;
  position: absolute;
  left: 220px;
  top: 207px;
  border-radius: 50%;
  animation: earth 10s linear 0s infinite reverse;
}

@keyframes earth {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.earth {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0%;
  left: 0;
  border-radius: 50%;
  margin: 25px;
  animation: earth-move 8s linear 0s infinite reverse;
}
@keyframes earth-move {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.moon-orbet {
  border-top: dashed 0.1px gray;
  border-bottom: dashed 0.1px gray;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 19px;
  left: 20px;
  border-radius: 50%;
  animation: moon-moov 10s linear 0s infinite reverse;
}
@keyframes moon-moov {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.moon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 0;
  margin: 30px;
  animation: moon 20s linear 0s infinite normal;
}

@keyframes moon {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mars-orbet {
  position: absolute;
  left: 190px;
  top: 177px;
  width: 330px;
  height: 330px;
  border: dashed 1px gray;
  border-radius: 50%;
  animation: mars 12s linear 0s infinite reverse;
}

@keyframes mars {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mars {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 32px;
  position: absolute;
  top: 0%;
  left: 0;
  animation: mars-move 8s linear 0s infinite reverse;
}
@keyframes mars-move {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.jupiter-orbet {
  position: absolute;
  left: 160px;
  top: 148px;
  width: 390px;
  height: 390px;
  border: dashed 1px gray;
  border-radius: 50%;
  animation: jupiter 20s linear 0s infinite reverse;
}

@keyframes jupiter {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.jupiter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 38px;
  position: absolute;
  top: 0%;
  left: 0;
  animation: jupiter-move 10s linear 0s infinite reverse;
}
@keyframes jupiter-move {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.saturn-orbet {
  position: absolute;
  left: 130px;
  top: 117px;
  width: 450px;
  height: 450px;
  border: dashed 1px gray;
  border-radius: 50%;
  animation: saturn 25s linear 0s infinite reverse;
}

@keyframes saturn {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.saturn {
  width: 35px;
  height: 35px;
  border-radius: 20%;
  margin: 45px;
  position: absolute;
  top: 0%;
  left: 0;
  animation: saturn-move 10s linear 0s infinite reverse;
}

.uranus-orbet {
  position: absolute;
  left: 96px;
  top: 81px;
  width: 520px;
  height: 520px;
  border: dashed 1px gray;
  border-radius: 50%;
  animation: uranus 17s linear 0s infinite reverse;
}

@keyframes uranus {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.uranus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 56px;
  position: absolute;
  top: 0%;
  left: 0;
  animation: uranus-move 4s linear 0s infinite reverse;
}
@keyframes uranus-move {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.neptune-orbet {
  position: absolute;
  left: 57px;
  top: 41px;
  width: 600px;
  height: 600px;
  border: dashed 1px gray;
  border-radius: 50%;
  animation: neptune 12s linear 0s infinite reverse;
}

@keyframes neptune {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.neptune {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 68px;
  position: absolute;
  top: 0%;
  left: 0;
  animation: neptune-move 10s linear 0s infinite reverse;
}
@keyframes neptune-move {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
