* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: white;
  border: solid;
  width: 99%;
  height: 250px;
  display: flex;
  color: white;
}
.main-div2 {
  background-color: white;
  border: solid;
  width: 99%;
  height: 250px;
  display: flex;

  color: white;
}
.div1 {
  width: 33%;
  height: 250px;

  background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?cs=srgb&dl=pexels-felix-mittermeier-956981.jpg&fm=jpg);
  font-family: "Courier New", Courier, monospace;
  background-size: cover;
  border-bottom-right-radius: 50px;
  padding: 10px;
  text-align: center;
}
.image1 {
  float: left;
  filter: contrast(10px);
}
.div2 {
  width: 33%;
  height: 250px;

  background-image: url(https://images.pexels.com/photos/2387532/pexels-photo-2387532.jpeg?cs=srgb&dl=pexels-adrien-olichon-2387532.jpg&fm=jpg);
  font-family: "Rubik Moonrocks", cursive;
  background-size: cover;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px;
  text-align: center;
}
.div3 {
  width: 33%;
  height: 250px;

  background-image: url(https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?cs=srgb&dl=pexels-alex-conchillos-3745234.jpg&fm=jpg);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-size: cover;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 100px;
  padding: 10px;
  text-align: center;
}
.div4 {
  width: 33%;
  height: 250px;
  background-image: url(https://images.pexels.com/photos/2763927/pexels-photo-2763927.jpeg?cs=srgb&dl=pexels-bithin-raj-2763927.jpg&fm=jpg);
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 50px;
  width: 33%;
  padding: 10px;
  text-align: center;
}
.div5 {
  width: 33%;
  height: 250px;
  background-image: url(https://images.pexels.com/photos/3608311/pexels-photo-3608311.jpeg?cs=srgb&dl=pexels-emiliano-arano-3608311.jpg&fm=jpg);
  font-family: "Edu TAS Beginner", cursive;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px;
  text-align: center;
}
.div6 {
  width: 33%;
  height: 250px;
  background-image: url(https://images.pexels.com/photos/2117938/pexels-photo-2117938.jpeg?cs=srgb&dl=pexels-scott-webb-2117938.jpg&fm=jpg);
  font-family: "Edu QLD Beginner", cursive;
  background-size: cover;
  border-top-left-radius: 50px;
  padding: 10px;
  text-align: center;
}
