* {
  font-size: 13px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  position: relative;
}

.nav-bar > ul {
  display: flex;
  margin: 1%;
  justify-content: space-between;
}
.youtube {
  position: absolute;
  top: -4%;
  left: 3%;
}
.search {
  width: 24%;
  height: 5%;
  position: absolute;
  top: 1%;
  left: 30%;
}
.search-li {
  position: absolute;
  top: 1%;
  left: 54%;
  border: solid 0.1px;
  width: 3%;
  height: 5%;
}

.voice-record {
  position: absolute;
  top: 1%;
  left: 57.5%;
  width: 2%;
  height: 5%;
  /* border: 0.1px solid; */
  border-radius: 50%;
  padding: 1px;
  background-color: rgb(247, 242, 242);
}
.notification {
  position: absolute;
  left: 92%;
  top: 2%;
}
.button-b {
  position: absolute;
  top: 1.5%;
  left: 96%;
  width: 2%;
  height: 5%;
  background-color: #c2175b;
  border: none;
  border-radius: 50%;
  color: white;
}

.creat {
  position: absolute;
  left: 87%;
  border: none;
  top: 0%;
}
li {
  cursor: pointer;
}
.button-i {
  width: 24px;
  height: 24px;
  background-color: #c2175b;
  border: none;
  border-radius: 50%;
  color: white;
}
.plus {
  position: absolute;
  top: 77%;
  left: 1%;
}
.side-bar > ul > li:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}
.side-bar {
  width: 12%;
  height: 100%;
  margin: 1%;
}
.hom {
  position: absolute;
  margin-top: 0.5%;
  margin-left: 1.3%;
}
.hom1 {
  position: absolute;
  margin-top: 0.5%;
  margin-left: 2%;
}
.watch-later {
  margin-top: 2%;
}

.hom2 {
  position: absolute;
  margin-top: 1%;
  margin-left: 2%;
}
.like {
  /* position: absolute; */
  margin-top: 8%;
}
.hom3 {
  position: absolute;
  left: 242%;
  top: 39%;
}
.browes {
  margin-top: 12px;
  margin-left: 6px;
}
.container {
  position: absolute;
  top: 9%;
  left: 13%;
  width: 87%;
  height: auto;
}
.ul2 {
  display: flex;
  justify-content: space-around;
}
.all:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.all {
  border: none;
  background-color: #f2f2f2;
  width: 40px;
  height: 25px;
  border-radius: 15px;
}
.gaming:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.gaming {
  border: none;
  background-color: #f2f2f2;
  width: 61px;
  height: 25px;
  border-radius: 15px;
}
.Music:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.Music {
  border: none;
  background-color: #f2f2f2;
  width: 57px;
  height: 25px;
  border-radius: 15px;
}
.Live:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.Live {
  border: none;
  background-color: #f2f2f2;
  width: 45px;
  height: 25px;
  border-radius: 15px;
}
.Mises:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.Mises {
  border: none;
  background-color: #f2f2f2;
  width: 50px;
  height: 25px;
  border-radius: 15px;
}
.Nusrat:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.Nusrat {
  border: none;
  background-color: #f2f2f2;
  width: 142px;
  height: 25px;
  border-radius: 15px;
}
.Arijit:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.Arijit {
  border: none;
  background-color: #f2f2f2;
  width: 82px;
  height: 25px;
  border-radius: 15px;
}
.Lata:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.Lata {
  border: none;
  background-color: #f2f2f2;
  width: 116px;
  height: 25px;
  border-radius: 15px;
}
.Bollywood:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.Bollywood {
  border: none;
  background-color: #f2f2f2;
  width: 118px;
  height: 25px;
  border-radius: 15px;
}
.Romantic:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.Romantic {
  border: none;
  background-color: #f2f2f2;
  width: 127px;
  height: 25px;
  border-radius: 15px;
}
.CSS:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.CSS {
  border: none;
  background-color: #f2f2f2;
  width: 46px;
  height: 25px;
  border-radius: 15px;
}

.videos {
  text-decoration: none;
  margin-top: 14px;
  width: 1054px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f9f9f9;
}
.video1 {
  margin: 0.5%;
  width: 24%;
  height: 22%;
  text-decoration: none;
}
.vid1st {
  margin-top: -21px;
  margin-left: 34px;
  text-decoration: none;
}
.vid1st > a,
small {
  text-decoration: none;
  color: #000;
}
